.container{
    display: flex;
    gap: 20px;
    padding: 10px;
    flex-direction: row;
    background-color: #0a182b7e;
}

.info{
    display: flex;
    color: white;
    flex-direction: column;
    margin-left: 10em;
}

.container_cover {
    display: flex;
    margin-left: auto;  
    align-self: flex-end; 
    justify-content: flex-end; 
}

.game_cover {
    height: 25em;
}

.titulo{
    font-size: 4em;
    padding: 10px;
}

.desenvolvedora{
    font-size: 1.2em;
    margin: 3px;
}

.publisher{
    font-size: 1.2em;
    margin: 3px;
}

.descricao{
    font-size: 1.5em;
    text-align: justify ;
    line-height: 1.3;
    margin-top: 2em;
}

.genero {
    margin-top: 1.3em;
    font-size: 2em;
}

.status {
    font-size: 2em;
}

.btn{
    border: 1px solid #FFF;
    border-radius: 5px;
    background: linear-gradient(180deg, rgba(17,179,53,0.9940709560191264) 0%, rgba(19,215,2,1) 100%);
    color: #FFF;
    padding: 10px;
}

.container_buttons{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap:5px;
    color: #999;
}