.sing_in_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4em;
}

.container_form{
    display: flex;
    background-color: #0a182b7e;
    padding: 1.7em;
    justify-content: center;
    border-radius: 20px;
}

.sing_in_container h1 {
    color: white
}